@charset "UTF-8";
  
    * {
        font-family: Arial, Helvetica, sans-serif;
      
}

    body{
        background-image: linear-gradient(to right , #C78DF5 , #9369B5 );

    }
    
    main{
        background-color: white;
        border-radius: 10px;
        box-shadow:  5px 5px 3px #0000006e;
        width: 600px;
        padding: 10px;
        margin: auto;
        
    }

    h1{
        color: #2B1F36;
        text-align: center;
        text-shadow: 1px 1px 0px black;
    }


    h2{
        color: #5F4475;

    }

    p{
        text-align: justify;
    }

